* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



header {
    width: 100%;
    grid-area: header;
}

nav {
    width: 100%;
    background-color: #f4ffff;
    box-shadow: -2px 0 12px #000;
}

a {
    text-decoration: none;
    color: #333;
}

article {
    grid-area: content;
}

a:hover {
    color: #36a;
    transition: 250ms;
}

#main_content {
    display: grid;
    grid-template-areas: 
    "header"
    "content";
    grid-template-rows: 10vh;
    gap: 10px;
}

.nav_about {
    display: flex;
    gap: 20px;
}

#nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.nav_logo {
    flex-grow: 1;
    margin: 5px;
}

.nav_socialmedia {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}

.nav_mobile_center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bi-list {
    width: 40px;
    height: 40px;
    margin: 5px;
}

.nav_mobile_about {
    height: 0;
    transition: 250ms;
    overflow: hidden;
    gap: 5px;
}

.nav_mobile_item {
    width: 100%;
    text-align: center;
    line-height:25%;
    height: 30px;
    padding: 20px 0px;
}

.show_nav_mobile_about {
    display: flex;
    flex-direction: column;
    z-index: 20;
    position:fixed;
    width: 100%;
    background-color: #f4ffff;
    transition: 250ms;
    box-shadow: -0.1px 5px 5px rgb(148, 148, 148);
}

.nav_mobile_item:hover {
    color: #fff;
    background-color: rgb(124, 159, 206);
    transition: 250ms;
}

@media screen and (min-width:426px){
    .nav_mobile {
        display: none;
    }
}

@media screen and (max-width:426px){
    #nav_bar {
        display: none;
    }

    .nav_mobile {
        box-shadow: none;
    }
}
